@import "../less/slide-transitions";

body {
  padding-bottom: 100px;
}

.slide {
  width: 500px;
}
.slide > div > div {
  position: relative;
}
.slide > div > div > span {
  position: absolute;
  font-size: 60px;
  color: #fff;
}
.slide img {
  width: 100%;
}
.buttons {
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
  background: #f0f0f0;
  z-index: 1100;
}
#slider4 {
  height: 400px;
}
#slider4 .slide-indicators {
  height: 20px;
}
#slider4 .slide-indicator {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #232323;
  cursor: pointer;
}
#slider4 .slide-indicator-active {
  background: #f1f1f1;
}

.slide.css {
  .slide-transition('soft-scale');
}
